@import 'theme/reset';
@import 'theme/fonts';
@import 'theme/variables';


body {
    color: #000000;
    background-color: #ffffff;
    font-size: 18px;
    font-family: $robotoRegular, Arial, Helvetica, sans-serif;
}

.button {
    background-color: transparent;
    border: 2px solid #ffffff;
    padding: 15px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
.button__label {
    font-family: $sgBold;
    font-size: 22px;
    margin-right: 25px;
    color: #ffffff;
}
.button__icon {
    height: 32px;
    fill: #ffffff;
}
// MODE 
.dark-mode {
    background-color: #000000!important;
    * {
        color: #ffffff!important;
        fill: #ffffff!important;
        border-color: #ffffff;
    }
}

.light-mode {
    background-color: #ffffff!important;
    * {
        color: #000000!important;
        fill: #000000!important;
        border-color: #000000;
    }
}
// TEXT BLOCK
.text {
    font-family: $sgBold;
    font-size: 36px;
    color: #000000;
    max-width: 1048px;
    width: 100%;
    margin: 0 auto;
}
.text__title {
    display: inline-block;
    font-family: $robotoBold;
    font-size: 14px;
    width: 50%;
    transform: translateY(-5px);
}
.text__underline {
    text-decoration: underline;
}
.text__little {
    font-size: 16px;
    font-family: $robotoBold;
}
// HEADER NAVIGATION
.header-navigation {
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px 15px 100px;
    transition: transform .35s ease-in;
}
.navigation-logo {
    color: #000000;
    font-family: $robotoBold;
    font-size: 12px;
    span {
        display: block;
        font-family: $sgBold;
        font-size: 26px;
    }
}
.navigation-mode-button {
    width: 32px;
    height: 32px;
    background-color: transparent;
}
.navigation-mode-button__icon {
    height: 100%;
}
.date{
    text-align: right;
    &__time{
        font-family: $robotoBold;
        font-size: 12px;
    }
    &__month{
        font-family: $sgBold;
        font-size: 26px;
    }
}
// SECTION-1
.section-1{
    background-color: #ffffff;
    padding-top: 150px;
    padding-bottom: 200px;
    .text{
        margin-bottom: 45px;
    }
}
.bonus {
    color: #5D24D4;
    font-family: $sgBold;
    font-size: 26px;
}
.bonus__label {
    display: inline-block;
    position: relative;
    color: #2F17C0;
    font-size: 36px;
    margin-right: 15px;
    z-index: 1;
    &::before {
        content: '';
        height: 17px;
        width: 105%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0);
        background-color: #BA9AFF;
        z-index: -1;
    }
}
// SECTION-2
.section-2{
    background: linear-gradient(211.1deg, #5D24D5 0%, #2F17C0 100%);
    position: relative;
    padding-bottom: 80px;
}
.steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
}
.steps__item {
    position: relative;
    width: 32%;
    &:nth-child(1) {
        transform: translateY(-115px);
    }
    &:nth-child(2) {
        transform: translateY(-70px);
    }
    &:nth-child(3) {
        transform: translateY(-25px);
    }
}
.steps__image {
    filter: drop-shadow(0 15px 20px rgba(0,0,0,0.35));
    margin-bottom: 15px;
}
.steps-description {
    display: flex;
    align-items: center;
}
.steps-description__number {
    color: #ffffff;
    font-family: $sgBold;
    font-size: 20px;
    height: 50px;
    width: 85px;
    background-image: url("../assets/images/ellipse.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.steps-description__text {
    color: #ffffff;
    font-size: 16px;
    font-family: $robotoBold;
}
.warning {
    display: flex;
    align-items: center;
}
.warning__image {
    flex-shrink: 0;
    margin-right: 45px;
    height: 120px;
}
.warning-information {
    color: #ffffff;
}
.warning-information__text {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.5;
}
.warning-information__spam {
    font-size: 16px;
    font-family: $robotoBold;
}
.warning-information__email-link {
    color: #ffffff;
    text-decoration: underline;
}
.warning-information__telegram-link {
    display: inline-block;
    background-color: #039BE5;
    color: #ffffff;
    border-radius: 30px;
    width: 130px;
    height: 30px;
    text-align: center;
    position: relative;
    padding-right: 25px;
    span {
        line-height: 30px;
    }
    svg {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        height: 13px;
    }
}
@import 'theme/grid';
@import 'theme/media';